# Dependencies
node_modules/

# Environment variables
.env
.env.local

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Bot data
tracked.json
db/
*.db

# Build output
dist/
build/

# Other
commands/
data/cache.json
